<!DOCTYPE html>
<html>
<head>
    <title>Feed</title>
    <link th:href="@{/css/feed.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/nav.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aldrich" />
    <script src="https://kit.fontawesome.com/10b3dc6989.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <div class="nav__links">
        <a th:href="@{/}"><h3>Home</h3></a>
        <a th:href="@{/events}"><h3>Events</h3></a>
        <a th:href="@{/playground}"><h3>Playground</h3></a>
    </div>
    <div class="nav__profile">
    <span th:switch="${user}">
      <div th:case="true">
        <div class="nav__profile">
          <h4>Profile</h4>
          <div class="dropdown">
            <button class="dropbtn">
              <i class="fa-solid fa-circle-user"></i>
            </button>
            <div class="dropdown-content">
              <a th:href="@{/edit}">Edit Information</a>
              <a th:href="@{/username}">Check if logged in</a>
              <a th:href="@{/users}">Users</a>
              <a th:href="@{/logout}">Logout</a>
            </div>
          </div>
        </div>
      </div>
    <div th:case="false" class="nav__profile">
      <a th:href="@{/login}" >Log In</a>
    </div>
    </span>
    </div>
</nav>
    <!-- code for navbar -->

    <div class="layout"> <!-- splitting page into two sections -->
        <div class="layout__left-area"> <!-- left section - holds tweets -->
            <div class="tweet">
                <img class="tweet__author-photo" src="./images/profile_pic_1.png"/>
                <div class="tweet__main">
                    <div class="tweet__header">
                        <div class="tweet__author-name">
                            Ryan
                        </div>
                        <div class="tweet__author-link">
                            @ryan
                        </div>
                        <div class="tweet__publish-time">
                            20s
                        </div>
                    </div>
                    <div class="tweet_content">
                        holder
                    </div>
                </div>
            </div>
            <div class="tweet">
                <img class="tweet__author-photo" src="./images/profile_pic_1.png"/>
                <div class="tweet__main">
                    <div class="tweet__header">
                        <div class="tweet__author-name">
                            Jack
                        </div>
                        <div class="tweet__author-link">
                            @jack
                        </div>
                        <div class="tweet__publish-time">
                            2d
                        </div>
                    </div>
                    <div class="tweet_content">
                        My publication
                        <a href="https://www.google.com">https.google.com</a>
                        #holder1 #holder2 #holder3
                    </div>
                </div>
        </div>
            <div class="tweet">
                <img class="tweet__author-photo" src="./images/profile_pic_1.png"/>
                <div class="tweet__main">
                    <div class="tweet__header">
                        <div class="tweet__author-name">
                            Paul
                        </div>
                        <div class="tweet__author-link">
                            @paul
                        </div>
                        <div class="tweet__publish-time">
                            15h
                        </div>
                    </div>
                    <div class="tweet_content">
                        <a href="https://arxiv.org/pdf/1808.08651.pdf">
                            https://arxiv.org/pdf/1808.08651.pdf
                        </a>
                    </div>
                </div>
            </div>
            <div class="tweet">
                <img class="tweet__author-photo" src="./images/profile_pic_1.png"/>
                <div class="tweet__main">
                    <div class="tweet__header">
                        <div class="tweet__author-name">
                            Ryan
                        </div>
                        <div class="tweet__author-link">
                            @ryan
                        </div>
                        <div class="tweet__publish-time">
                            20s
                        </div>
                    </div>
                    <div class="tweet_content">
                        holder
                    </div>
                </div>
            </div>
            <div class="tweet">
                <img class="tweet__author-photo" src="./images/profile_pic_1.png"/>
                <div class="tweet__main">
                    <div class="tweet__header">
                        <div class="tweet__author-name">
                            Ryan
                        </div>
                        <div class="tweet__author-link">
                            @ryan
                        </div>
                        <div class="tweet__publish-time">
                            20s
                        </div>
                    </div>
                    <div class="tweet_content">
                        holder
                    </div>
                </div>
            </div>
        </div>
        <div class="layout__right-area-container"> <!-- right section - holds search bar, popular topics, popular profiles -->
            <div class="layout__right-area">
                <div class="search-feed">
                    <form th:action="@{/search}">
                        <div class="search-feed__box">
                            <input type="search" class="input-search" name="keyword" placeholder="Search for anything" required>
                            <!-- search bar, sends input to /search -->
                        </div>
                    </form>
                </div>
                <div class="popular-topics">
                    <div class="popular-topics__block">
                        <div class="popular-topics__header">
                            Popular Topics
                        </div>
                    </div>
                    <div class="popular-topics__block">
                        <div class="popular-topics__metainfo">
                            TOPIC PLACEHOLDER
                        </div>
                        <div class="popular-topics__name">
                            ####
                        </div>
                        <div class="popular-topics__metainfo">
                            192 views
                        </div>
                    </div>
                    <div class="popular-topics__block">
                        <div class="popular-topics__metainfo">
                            energy
                        </div>
                        <div class="popular-topics__name">
                            ###
                        </div>
                        <div class="popular-topics__metainfo">
                            394 views
                        </div>
                    </div>
                </div>
                <div class="popular-profiles">
                    <div class="popular-profiles__block">
                        <div class="popular-profiles__heading">
                            Popular Profiles
                        </div>
                    </div>
                    <div class="popular-profiles__block">
                        <img class="popular-profiles__picture" src="./images/profile_pic_3.jpg">
                        <div class="popular-profiles__content">
                            <div>
                                <div class="popular-profiles__name">
                                    Polly
                                </div>
                                <div class="popular-profiles__link">
                                    @polly
                                </div>
                            </div>
                        </div>
                        <div class="popular-profiles__visit">
                            Visit
                        </div>
                    </div>
                    <div class="popular-profiles__block">
                        <img class="popular-profiles__picture" src="./images/profile_pic_2.jpg">
                        <div class="popular-profiles__content">
                            <div>
                                <div class="popular-profiles__name">
                                    Josh
                                </div>
                                <div class="popular-profiles__link">
                                    @josh
                                </div>
                            </div>
                        </div>
                        <div class="popular-profiles__visit">
                            Visit
                        </div>
                    </div>
                    <div class="popular-profiles__block">
                        <img class="popular-profiles__picture" src="./images/profile_pic_1.jpg">
                        <div class="popular-profiles__content">
                            <div>
                                <div class="popular-profiles__name">
                                    Barry
                                </div>
                                <div class="popular-profiles__link">
                                    @barry
                                </div>
                            </div>
                        </div>
                        <div class="popular-profiles__visit">
                            Visit
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
