<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{nav.html}"
>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reversible Computation | Home</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aldrich" />
  <script src="https://kit.fontawesome.com/10b3dc6989.js" crossorigin="anonymous"></script>
  <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/css/nav.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<nav th:replace="~{nav.html :: nav(id=${id}, navUser=${navUser}, navImg=${navImg})}">
</nav>
<!-- Navbar ^ -->

<div class="welcome">
  <h1>Reverse Engineering</h1>
    <p>Welcome to the home of Reversible Computation. This website serves as a hub for visitors and researchers to share information and interact with each other in regard to the field. If you haven't got an account, you can register by clicking 'Get Started'. To view an interactive visualisation of Reversible Computation, please visit the 'Simulator' section at the top of your screen in the navigation bar.</p>
  <!-- Paragraph to greet visitors -->
  <span th:if="${navUser == false}">
  <a class="btn" th:href="@{/login}" >Login</a>
  <a class="btn" th:href="@{/register}" >Get Started</a>
  <!-- If user isn't logged in, then display Login/Register buttons -->
  </span>
  <span th:if="${navUser}">
    <a class="btn" th:href="@{/logout}">Logout</a>
    <!-- If user is logged in, allow user to logout directly from home page -->
  </span>
</div>
</body>
</html>
