<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login Page</title>
  <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aldrich" />
  <script src="https://kit.fontawesome.com/10b3dc6989.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
  <div class="nav__links">
    <a th:href="@{/}"><h3>Home</h3></a>
    <a th:href="@{/events}"><h3>Events</h3></a>
    <a th:href="@{/playground}"><h3>Playground</h3></a>
  </div>
  <div class="nav__profile">
    <h4>Profile</h4>
    <a>
      <i class="fa-solid fa-circle-user"></i>
    </a>
  </div>
</nav>

<div class="login">
  <div class="box">
    <div class="form">
      <div th:if="${param.error}">
        <div class="alert alert-danger">Invalid Email or Password</div>
      </div>
      <div th:if="${param.logout}">
        <div class="alert alert-success"> You have been logged out.</div>
      </div>
      <form method="post" role="form" th:action="@{/login}">
        <h2>Login</h2>
        <div class="input-box">
          <input type="text" id="username" name="username" placeholder="username">
          <span>username</span>
        </div>
        <div class="input-box">
          <input type="password" id="password" name="password" placeholder="password">
          <span>password</span>
        </div>
        <div class="register">
          <a th:href="@{/register}">Dont have an account? Sign up</a>
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>

<!-- OLD CODE
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Registration and Login System</title>
  <!DOCTYPE html>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration and Login Page</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<br /><br />
<div class="container">
    <div class="form-container">
      <div th:if="${param.error}">
        <div class="alert alert-danger">Invalid Email or Password</div>
      </div>
      <div th:if="${param.logout}">
        <div class="alert alert-success"> You have been logged out.</div>
      </div>

      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Login Form</h2>
        </div>
        <div>
          <form
                  method="post"
                  role="form"
                  th:action="@{/login}"
                  class="form-horizontal"
          >
            <div>
              <label class="control-label"> Email</label>
              <input
                      type="text"
                      id="username"
                      name="username"
                      class="form-control"
                      placeholder="Enter email address"
              />
            </div>

            <div>
              <label> Password</label>
              <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      placeholder="Enter password"
              />
            </div>
            <div>
              <button type="submit">Submit</button>
              <span> Not registered ?
                                <a th:href="@{/register}">Register/Signup here</a>
                            </span>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
</body>
</html>
-->
