<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Create new Post</title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aldrich" />
    <script src="https://kit.fontawesome.com/10b3dc6989.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/post.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/nav.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<nav>
    <div class="nav__links">
        <a th:href="@{/}"><h3>Home</h3></a>
        <a th:href="@{/events}"><h3>Events</h3></a>
        <a th:href="@{/playground}"><h3>Playground</h3></a>
    </div>
    <div class="nav__profile">
    <span th:switch="${user}">
      <div th:case="true">
        <div class="nav__profile">
          <h4>Profile</h4>
          <div class="dropdown">
            <button class="dropbtn">
              <i class="fa-solid fa-circle-user"></i>
            </button>
            <div class="dropdown-content">
              <a th:href="@{/edit}">Edit Information</a>
              <a th:href="@{/username}">Check if logged in</a>
              <a th:href="@{/users}">Users</a>
              <a th:href="@{/logout}">Logout</a>
            </div>
          </div>
        </div>
      </div>
    <div th:case="false" class="nav__profile">
      <a th:href="@{/login}" >Log In</a>
    </div>
    </span>
    </div>
</nav>
<!-- code for navbar -->
<br /><br /><br />

<div class="create-post">
    <div class="box">
        <div class="form">
            <h2>Post a new publication</h2>
            <form
                    method="post"
                    role="form"
                    th:action="@{/post/create}"
                    th:object="${post}"
            >
                <!-- post form object 'user' to /post/create -->
                <div class="input-box">
                    <input
                            class="form-control"
                            id="name"
                            name="name"
                            placeholder="Enter publication name"
                            th:field="*{name}"
                            type="text"
                    />
                    <!-- input box for attribute 'firstName' -->
                    <span>Publication name</span>
                    <i></i>
                    <p th:errors = "*{name}" class="text-danger"
                       th:if="${#fields.hasErrors('name')}"></p>
                    <!-- checks for errors in this field -->
                </div>

                <div class="input-box">

                    <input
                            class="form-control"
                            id="description"
                            name="description"
                            placeholder="Enter description"
                            th:field="*{description}"
                            type="text"
                    />
                    <span>Description</span>
                    <i></i>
                    <p th:errors = "*{description}" class="text-danger"
                       th:if="${#fields.hasErrors('description')}"></p>
                </div>
                <!-- each input box is similar code -->

                <div class="input-box">
                    <input
                            class="form-control"
                            id="documenturl"
                            name="documenturl"
                            placeholder="Enter the url for the publication"
                            th:field="*{documenturl}"
                            type="text"
                    />
                    <span>Document URL</span>
                    <i></i>
                    <p th:errors = "*{documenturl}" class="text-danger"
                       th:if="${#fields.hasErrors('documenturl')}"></p>
                </div>

                <div class="input-box">
                    <input
                            class="form-control"
                            id="keywords"
                            name="keywords"
                            placeholder="Enter keywords"
                            th:field="*{keywords}"
                            type="text"
                    />
                    <span>Keywords</span>
                    <i></i>
                    <p th:errors = "*{keywords}" class="text-danger"
                       th:if="${#fields.hasErrors('keywords')}"></p>
                </div>

                <div class="input-box">
                    <input
                            class="form-control"
                            id="hashtags"
                            name="hashtags"
                            placeholder="Enter hashtags"
                            th:field="*{hashtags}"
                            type="text"
                    />
                    <span>Hashtags</span>
                    <i></i>
                    <p th:errors = "*{hashtags}" class="text-danger"
                       th:if="${#fields.hasErrors('hashtags')}"></p>
                </div>

                <div class="input-btn">
                    <button class="btn btn-primary" type="submit">Post</button>
                </div>
                <!-- submit button -->
                <div class="upload-publication">
                    <a th:href="@{/XXXX}">Haven't uploaded your publication? Click here</a>
                </div>
                <!-- link to publication upload -->
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>