<!-- just skeleton to test works -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{nav.html}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aldrich" />
    <script src="https://kit.fontawesome.com/10b3dc6989.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/profile.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/profile/structure.css}" />
    <link rel="stylesheet" th:href="@{/css/profile/post.css}" />
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/nav.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<nav th:replace="~{nav.html :: nav(id=${id}, navUser=${navUser}, navImg=${navImg})}">
</nav>
<div class="structure">
    <div class="structure__main">
        <div class="header">
            <span th:if="${userObj.isImg() == true}">
                <img th:src="@{/pfp/{id}(id = ${userObj.getId()} + '.png')}"/>
            </span>
            <span th:if="${userObj.isImg() != true}"></span>
            <div>
                <h1><p th:text = "${user}"></p></h1>
            </div>
                <div>
                    <tr th:each="user: ${uniqueUsers}">
                        <a th:text="${user.name}" th:href="@{/profile/{id}(id = ${user.id})}"></a>
                    </tr>
                </div>
            </div>
        </div>
    </div>
    <span th:if="${userPage == 0}">
      <div class="buttons">
          <a class="btn" th:href="@{/profile}" >About Me!</a>
          <a class="btn" th:href="@{/profile?page=comments}" >Comments</a>
          <a class="btn" th:href="@{/profile?page=posts}" >Posts</a>
      </div>
    </span>
    <span th:if="${userPage != 0}">
        <div class="buttons">
            <a class="btn" th:href="@{/profile/{id}(id=${userPage})}" >About Me!</a>
            <a class="btn" th:href="@{/profile/{id}?page=comments(id=${userPage})}" >Comments</a>
            <a class="btn" th:href="@{/profile/{id}?page=posts(id=${userPage})}" >Posts</a>
        </div>
    </span>
</div>


<span th:switch="${page}">
      <div th:case="description">
          <div class="description">
              <h3><td th:text = "'Name: ' + ${user}"></td></h3>
              <br>
              <h3><p th:text="'Description: ' + ${description}"></p></h3>
              <br>
              <span th:if="${age != null}">
              <h3><p th:text="'Age: ' + ${age}"></p></h3>
              </span>
              <span th:if="${age == null}">
              <h3><p th:text="'Age: Not Given'"></p></h3>
              </span>
              <br>
              <span th:if="${location != null}">
              <h3><p th:text="'Location: ' + ${location}"></p></h3>
              </span>
              <span th:if="${age == null}">
              <h3><p th:text="'Location: Not Given'"></p></h3>
              </span>
              <br>
              <h3><p th:text="'Contact: ' + ${email}"></p></h3>
              <span th:if="${userPage == 0}">
                <a class="btn" th:href="@{/edit}" >Edit Information</a>
              </span>
          </div>
      </div>
    <div th:case="posts">
        <th:block th:each="post: ${posts}">
            <div class="post">
                <img class="post__author-logo" th:src="@{${'/pfp/' + post.authorId + '.png'}}" />
                    <div class="post__main">
                        <div class="post__header">
                            <div class="post__author-name">
                                <span th:text="${post.title}"></span>
                            </div>
                            <div class="post__author-slug">
                                <span th:text="${post.author}"></span>
                            </div>
                            <div class="post__publish-time">
                                <span th:text="${post.postDate}"></span>
                            </div>
                        </div>
                    <div class="post__content">
                        <span th:text="${post.text}"></span>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <div th:case="comments">
        <div class="comments"> <!-- splitting page into two sections -->
        <div class="layout__left-area"> <!-- left section - holds tweets -->
            <span th:if="${comments != null}">
            <tr th:each="comment : ${comments}">
                <div class="tweet">
                        <span th:switch="${comment.getUser().isImg()}">
                            <div th:case="true">
                                <img class="tweet__author-photo" th:src="@{/pfp/{id}(id=${comment.getUser().getId()} + '.png')}"/>
                            </div>
                            <div th:case="false" class="tweet__author-photo">
                                <i class="fa-solid fa-circle-user"></i>
                            </div>
                        </span>
                    <div class="tweet__main">
                        <div class="tweet__header">
                            <div class="tweet__author-name">
                                <a th:text="${comment.getUser().getName()}" th:href="@{/profile/{id}(id = ${comment.getUser().getId()})}"></a>
                            </div>

                            <div class="tweet__publish-time">
                                <a th:text="${comment.getDate()}"></a>
                            </div>
                        </div>
                        <div class="tweet_content">
                            <p th:text="${comment.getContent()}"></p>
                        </div>
                    </div>
                </div>
            </tr>
            </span>
        </div>
            <span th:if="${userPage == 0}">
          <div class="createComment">
            <h1>Comment</h1>
            <div class="comment-submit">
                    <form
                            method="post"
                            role="form"
                            th:action="@{/createComment}"
                            th:object="${commentDto}"
                    >
                        <div class="search-feed__box">
                            <input  class="input-search"
                                    id="comment"
                                    name="comment"
                                    placeholder="Comment Anything!"
                                    th:field="*{content}"
                                    type="search"
                            />
                            <button class="button" type="submit">Comment</button>
                        </div>
                    </form>
        </div>
        </div>
    </span>
    <span th:if="${userPage != 0}">
            <div class="createComment">
            <h1>Comment</h1>
            <div class="comment-submit">
                    <form
                            method="post"
                            role="form"
                            th:action="@{/createComment/{id}(id=${userPage})}"
                            th:object="${commentDto2}"
                    >
                        <div class="search-feed__box">
                            <input class="input-search"
                                   id="comment2"
                                   name="comment"
                                   placeholder="Comment Anything!"
                                   th:field="*{content}"
                                   type="search"/>
                            <button class="button" type="submit">Comment</button>
                        </div>
                    </form>
        </div>
        </div>
    </span>
    </div>
    </div>
</span>
</body>
</html>
