<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Registration and Login System</title>

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aldrich" />
  <script src="https://kit.fontawesome.com/10b3dc6989.js" crossorigin="anonymous"></script>
  <link th:href="@{/css/register.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<nav>
  <div class="nav__links">
    <a th:href="@{/}"><h3>Home</h3></a>
    <a th:href="@{/events}"><h3>Events</h3></a>
    <a th:href="@{/playground}"><h3>Playground</h3></a>
  </div>
  <div class="nav__profile">
    <h4>Profile</h4>
    <a>
      <i class="fa-solid fa-circle-user"></i>
    </a>
  </div>
</nav>
<!-- code for navbar -->

<br /><br /><br />
<div class="signup">
  <div class="box">
    <div class="form">
      <h2>Create an account</h2>
      <div th:if="${param.success}">
        <div class="alert alert-info">
          You have successfully registered our app!
        </div>
        <!-- message displayed after successful register -->
      </div>
        <form
                method="post"
                role="form"
                th:action="@{/register/save}"
                th:object="${user}"
        >
        <!-- post form object 'user' to /register/save -->
          <div class="input-box">
            <input
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    placeholder="Enter first name"
                    th:field="*{firstName}"
                    type="text"
            />
            <!-- input box for attribute 'firstName' -->
            <span>First Name</span>
            <i></i>
            <p th:errors = "*{firstName}" class="text-danger"
               th:if="${#fields.hasErrors('firstName')}"></p>
               <!-- checks for errors in this field -->
          </div>

          <div class="input-box">
          
            <input
                    class="form-control"
                    id="lastName"
                    name="lastName"
                    placeholder="Enter last name"
                    th:field="*{lastName}"
                    type="text"
            />
            <span>Last Name</span>
            <i></i>
            <p th:errors = "*{lastName}" class="text-danger"
               th:if="${#fields.hasErrors('lastName')}"></p>
          </div>
          <!-- each input box is similar code -->

          <div class="input-box">
            <input
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter email address"
                    th:field="*{email}"
                    type="email"
            />
            <span>Email</span>
            <i></i>
            <p th:errors = "*{email}" class="text-danger"
               th:if="${#fields.hasErrors('email')}"></p>
          </div>

          <div class="input-box">
            <input
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Enter password"
                    th:field="*{password}"
                    type="password"
            />
            <span>Password</span>
            <i></i>
            <p th:errors = "*{password}" class="text-danger"
               th:if="${#fields.hasErrors('password')}"></p>
          </div>
          <div class="input-btn">
            <button class="btn btn-primary" type="submit">Register</button>
          </div>
          <!-- submit button -->
          <div class="sign-in">
            <a th:href="@{/login}">Already got an account? Sign in</a>
          </div>
          <!-- link to login page -->
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
