<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{nav.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aldrich" />
    <script src="https://kit.fontawesome.com/10b3dc6989.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/register.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/upload.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/nav.css}" rel="stylesheet" type="text/css" />
</head>

<script>
    console.log("hello world")
    const addHashtag = () => {
        const hashtags = document.getElementById("hashtags")
        hashtags.innerHTML = hashtags.innerHTML+"#"+document.getElementById("hashtag").value
        document.getElementById("realHashtag").value = hashtags.innerHTML
        document.getElementById("hashtag").value = null
    }
    const setName = () => {
        console.log(document.getElementById("file"))
        document.getElementById("name").value = document.getElementById("file").value;

    }

</script>

<body>
<nav th:replace="~{nav.html :: nav(id=${id}, navUser=${navUser}, navImg=${navImg})}">
</nav>
<!-- code for navbar -->

<br /><br /><br />
<div class="signup">
    <div class="box">
        <div class="form">
            <h2>New Post</h2>
            <form
                    method="post"
                    role="form"
                    th:action="@{/newDocument}"
                    th:object="${post}"
                    enctype="multipart/form-data"
            >
                <!-- post form object 'user' to /register/save -->
                <div class="input-box">
                    <input
                            class="form-control"
                            id="postName"
                            name="name"
                            placeholder="enter post name"
                            th:field="*{name}"
                            type="text"
                    />
                    <!-- input box for attribute 'firstName' -->
                    <span>First Name</span>
                    <i></i>
                    <p th:errors = "*{name}" class="text-danger"
                       th:if="${#fields.hasErrors('name')}"></p>
                    <!-- checks for errors in this field -->
                </div>

                <div class="input-box">

                    <input
                            class="form-control"
                            id="lastName"
                            name="description"
                            placeholder="this post is about..."
                            th:field="*{description}"
                            type="textarea"
                    />
                    <span>Description</span>
                    <i></i>
                    <p th:errors = "*{description}" class="text-danger"
                       th:if="${#fields.hasErrors('description')}"></p>
                </div>
                <!-- each input box is similar code -->

                <div class="input-box">
                    <div class="input-btn btn btn-primary" onclick="addHashtag()">Add
                    </div>
                    <input
                            class="form-control"
                            id="hashtag"
                            name="hashtag"
                            placeholder="new hashtag e.g.#science"
                            type="text"
                    />
                    <p id="hashtags"></p>
                    <i></i>
<!--                    <p th:errors = "*{hashtags}" class="text-danger"-->
<!--                       th:if="${#fields.hasErrors('hashtags')}"></p>-->
                </div>

                <input
                        class="form-control"
                        id="realHashtag"
                        name="hashtag"
                        th:field="*{hashtags}"
                        type="hidden"
                >


                <input
                        class="form-control"
                        id="name"
                        name="fileName"
                        type="text"
                >

                <input
                        class="form-control"
                        id="file"
                        name="file"
                        type="file"
                        onchange="setName()"
                />

                <div class="input-btn">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>

                <!-- submit button -->
                <div class="sign-in">
                    <a th:href="@{/login}">Already got an account? Sign in</a>
                </div>
                <!-- link to login page -->
            </form>

<!--            <form-->
<!--                method="post"-->
<!--                role="form"-->
<!--                th:action="@{/newDocument}"-->
<!--                enctype="multipart/form-data"-->
<!--            >-->
<!--&lt;!&ndash;                <input&ndash;&gt;-->
<!--&lt;!&ndash;                        class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;                        id="name"&ndash;&gt;-->
<!--&lt;!&ndash;                        name="name"&ndash;&gt;-->
<!--&lt;!&ndash;                        th:field="*{name}"&ndash;&gt;-->
<!--&lt;!&ndash;                        type="text"&ndash;&gt;-->
<!--&lt;!&ndash;                />&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>Document Name</span>;&ndash;&gt;-->

<!--&lt;!&ndash;                <input&ndash;&gt;-->
<!--&lt;!&ndash;                        class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;                        id="extension"&ndash;&gt;-->
<!--&lt;!&ndash;                        name="extension"&ndash;&gt;-->
<!--&lt;!&ndash;                        th:field="*{extension}"&ndash;&gt;-->
<!--&lt;!&ndash;                        type="text"&ndash;&gt;-->
<!--&lt;!&ndash;                />&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>File Type</span>&ndash;&gt;-->

<!--&lt;!&ndash;                <input&ndash;&gt;-->
<!--&lt;!&ndash;                        class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;                        id="file"&ndash;&gt;-->
<!--&lt;!&ndash;                        name="file"&ndash;&gt;-->
<!--&lt;!&ndash;                        type="file"&ndash;&gt;-->
<!--&lt;!&ndash;                        onchange="setName()"&ndash;&gt;-->
<!--&lt;!&ndash;                />&ndash;&gt;-->

<!--&lt;!&ndash;                <input&ndash;&gt;-->
<!--&lt;!&ndash;                        class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;                        id="name"&ndash;&gt;-->
<!--&lt;!&ndash;                        name="fileName"&ndash;&gt;-->
<!--&lt;!&ndash;                        type="text"&ndash;&gt;-->
<!--&lt;!&ndash;                >&ndash;&gt;-->

<!--&lt;!&ndash;                <input&ndash;&gt;-->
<!--&lt;!&ndash;                        class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;                        id="filePath"&ndash;&gt;-->
<!--&lt;!&ndash;                        name="filePath"&ndash;&gt;-->
<!--&lt;!&ndash;                        th:field="*{filePath}"&ndash;&gt;-->
<!--&lt;!&ndash;                        type="text"&ndash;&gt;-->
<!--&lt;!&ndash;                />&ndash;&gt;-->
<!--&lt;!&ndash;                <span>File Path</span>&ndash;&gt;-->
<!--                <br/>-->
<!--                <input-->
<!--                        class="btn btn-primary"-->
<!--                        type="submit"-->
<!--                />-->
<!--            </form>-->
        </div>
    </div>
</div>
</div>
</body>
</html>
