<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aldrich" />
    <script src="https://kit.fontawesome.com/10b3dc6989.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/register.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/upload.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/nav.css}" rel="stylesheet" type="text/css" />
</head>

<script>
    console.log("hello world")
    const addHashtag = () => {
        const hashtags = document.getElementById("hashtags")
        hashtags.innerHTML = hashtags.innerHTML+"#"+document.getElementById("hashtag").value
        document.getElementById("hashtag").value = null
    }
    const setName = () => {
        console.log(document.getElementById("file"))
        document.getElementById("name").value = document.getElementById("file").value;

    }

</script>

<body>
<nav>
    <div class="nav__links">
        <a th:href="@{/}"><h3>Home</h3></a>
        <a th:href="@{/events}"><h3>Events</h3></a>
        <a th:href="@{/playground}"><h3>Playground</h3></a>
    </div>
    <div class="nav__profile">
    <span th:switch="${navUser}">
      <div th:case="true">
          <span th:switch="${navImg}">
              <div th:case="true">
                <div class="nav__profile">
                    <h4>Profile</h4>
                        <div class="dropdown">
                            <button class="dropbtn">
                                <img class="nav_img" th:src="@{/pfp/{id}(id = ${id})}" width="48" height="48"/>
                                <!--<i class="fa-solid fa-circle-user"></i>-->
                            </button>
                            <div class="dropdown-content">
                              <a th:href="@{/edit}">Edit Information</a>
                        <a th:href="@{/upload}">Upload File</a>
                        <a th:href="@{/profile}">Profile</a>
                        <a th:href="@{/users}">Users</a>
                        <a th:href="@{/logout}">Logout</a>
                            </div>
                          </div>
                        </div>
              </div>
              <div th:case="false">
                <div class="nav__profile">
                    <h4>Profile</h4>
                        <div class="dropdown">
                            <button class="dropbtn">
                                <i class="fa-solid fa-circle-user"></i>
                            </button>
                            <div class="dropdown-content">
                              <a th:href="@{/edit}">Edit Information</a>
                        <a th:href="@{/upload}">Upload File</a>
                        <a th:href="@{/profile}">Profile</a>
                        <a th:href="@{/users}">Users</a>
                        <a th:href="@{/logout}">Logout</a>
                            </div>
                          </div>
                        </div>
              </div>
          </span>
      </div>
    <div th:case="false" class="nav__profile">
      <a th:href="@{/login}" >Log In</a>
    </div>
    </span>
    </div>
</nav>
<!-- code for navbar -->

<br /><br /><br />
<div class="signup">
    <div class="box">
        <div class="form">
            <h2>New Post</h2>
            <form
                    method="post"
                    role="form"
                    th:action="@{/newPost}"
                    th:object="${post}"
            >
                <!-- post form object 'user' to /register/save -->
                <div class="input-box">
                    <input
                            class="form-control"
                            id="name"
                            name="name"
                            placeholder="enter post name"
                            th:field="*{name}"
                            type="text"
                    />
                    <!-- input box for attribute 'firstName' -->
                    <span>First Name</span>
                    <i></i>
                    <p th:errors = "*{name}" class="text-danger"
                       th:if="${#fields.hasErrors('name')}"></p>
                    <!-- checks for errors in this field -->
                </div>

                <div class="input-box">

                    <input
                            class="form-control"
                            id="lastName"
                            name="description"
                            placeholder="this post is about..."
                            th:field="*{description}"
                            type="textarea"
                    />
                    <span>Description</span>
                    <i></i>
                    <p th:errors = "*{description}" class="text-danger"
                       th:if="${#fields.hasErrors('description')}"></p>
                </div>
                <!-- each input box is similar code -->

                <div class="input-box">
                    <div class="input-btn btn btn-primary" onclick="addHashtag()">Add
                    </div>
                    <input
                            class="form-control"
                            id="hashtag"
                            name="hashtag"
                            placeholder="new hashtag e.g.#science"
                            th:field="*{hashtags}"
                            type="text"
                    />
                    <p id="hashtags"></p>
                    <i></i>
                    <p th:errors = "*{hashtags}" class="text-danger"
                       th:if="${#fields.hasErrors('hashtags')}"></p>
                </div>


                <div class="input-btn">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
                <!-- submit button -->
                <div class="sign-in">
                    <a th:href="@{/login}">Already got an account? Sign in</a>
                </div>
                <!-- link to login page -->
            </form>

            <form
                method="post"
                role="form"
                th:action="@{/newDocument}"
                enctype="multipart/form-data"
            >
<!--                <input-->
<!--                        class="form-control"-->
<!--                        id="name"-->
<!--                        name="name"-->
<!--                        th:field="*{name}"-->
<!--                        type="text"-->
<!--                />-->
<!--                    <span>Document Name</span>;-->

<!--                <input-->
<!--                        class="form-control"-->
<!--                        id="extension"-->
<!--                        name="extension"-->
<!--                        th:field="*{extension}"-->
<!--                        type="text"-->
<!--                />-->
<!--                    <span>File Type</span>-->

                <input
                        class="form-control"
                        id="file"
                        name="file"
                        type="file"
                        onchange="setName()"
                />

                <input
                        class="form-control"
                        id="name"
                        name="fileName"
                        type="text"
                >

<!--                <input-->
<!--                        class="form-control"-->
<!--                        id="filePath"-->
<!--                        name="filePath"-->
<!--                        th:field="*{filePath}"-->
<!--                        type="text"-->
<!--                />-->
<!--                <span>File Path</span>-->
                <br/>
                <input
                        class="btn btn-primary"
                        type="submit"
                />
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
