<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aldrich" />
    <script src="https://kit.fontawesome.com/10b3dc6989.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav>
        <div class="nav__links">
            <a href="home.html"><h3>Home</h3></a>
            <a href="events.html"><h3>Events</h3></a>
            <a href="playground.html"><h3>Playground</h3></a>
        </div>
        <div class="nav__profile">
            <h4>Profile</h4>
            <a>
                <i class="fa-solid fa-circle-user"></i>
            </a>
        </div>
    </nav>

    <div class="welcome">
        <h1>Reverse Engineering</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde placeat minus fugiat optio eum ratione harum facilis. In, a minus culpa autem veritatis quisquam, asperiores itaque vitae quis, error natus? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde placeat minus fugiat optio eum ratione harum facilis. In, a minus culpa autem veritatis quisquam, asperiores itaque vitae quis, error natus? Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a class="btn">Get Started</a>
    </div>
</body>
</html>